    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.mainpage_button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.mainpage_button:hover {
    background-color: #555555;
    color: white;
}

.button { transition: all .2s ease-in-out; }
.button:hover { transform: scale(1.1);}





@import "bourbon";
@import "neat";

$base-duration: 500ms;

// Colors
$orange-1: #FF713F;
$orange-2: #FFAA8C;
$orange-3: #FFC6B2;
$blue-1: #2A90D3;
$blue-2: #7FBCE5;
$green-1: #48AC60;
$green-2: #91CDA0;
$light-gray: #9B9B9B;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

small { font-size: 50%; }
h1 { text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-Family: 'Source Serif Pro', serif;
  
  span { font-family: 'Source Sans Pro',sans-serif; }
}

h2 {
    
  span {
    margin-left: 15px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: $light-gray;
  }
}

body {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100vh;
  //background-color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

.container {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.doughnut {
  position: relative;
  width: 33%;
  margin: 0 auto;
  padding: 10px;
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 0;
    
    div {
      margin: 2px 0;
      font-size: 36px;
      font-weight: 600;
      line-height: 1;
      
      .count {
        display: inline-block;
        font-size: 36px;
        font-weight: 600;
      }
    }
    
    span {
      display: block;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }  
  }
}

section {
  position: relative;
  display: block;
  //width: 80vw;
  //height: 80%;
  margin: 0;
  padding: 50px 0;
}

.admissions {
  
  .gender {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 0 30px 0;
    border-radius: 4px;
    color: white;
    overflow: hidden;
    
    > div {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 7px 15px;
      font-weight: 600;
      
      i {
        margin-right: 5px;
        line-height: 1.4;
      }
    }
    
    .female {
      width: 46%;
      height: 100%;
      background-color: $green-1;
      float: left;
      animation: female 1000ms ease; 
    }
    
    .male {
      width: 54%;
      height: 100%;
      background-color: $blue-1;
      float: left; 
      animation: male 1000ms ease;
    }
    
    @keyframes male {
      0%   { width: 0%; }
      100% { width: 54%; }
    }
    
    @keyframes female {
      0%   { width: 0%; }
      100% { width: 46%; }
    }
  }
  
  .doughnuts {
    display: flex;
    flex-direction: row;

  }
}

.costs {}

